*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-base: #e1f0fd;
    --clr-base2: #bce0fb;
    --clr-primary: #0874c1;
    --clr-text-light: #f0f8ff;
}

body {
    background-color: var(--clr-base);
    color: var(--clr-primary);
    font-family: 'Inter', sans-serif;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input {
    border: 1px solid var(--clr-base2);
    border-radius: 5px;
    padding: 5px 10px;
}

button {
    border: none;
    background-color: var(--clr-primary);
    color: var(--clr-text-light);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    background-color: var(--clr-base2);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    border: 2px solid var(--clr-primary);
    gap: 20px;
    min-width: 500px;
}

.media-wrapper {
    border: 2px solid var(--clr-base2);
    background-color: var(--clr-text-light);
    border-radius: 5px;
}

.image {
    width: 200px;
    aspect-ratio: 1;
}

.content-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.name {
    text-transform: uppercase;
    background-color: var(--clr-text-light);
    width: 100%;
    border-radius: 3px;
    font-size: 1.2rem;
    padding: 5px 10px;
    text-align: left;
}

.abilities-title {
    margin-top: 10px;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;


    li {
        text-align: left;
        text-transform: capitalize;
    }
}